extends ../components/base/layout

block data
  include ../data/regions.pug

block variables
  - const title = "Форма регистрации на Невский форум" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +register(regions)
block modals
