mixin register()
  -
    const representativeList = [
      {
        text: 'Представитель РАНХиГС',
        value: 'ranepaUniversity',
        ariaSelected: true,
        isActive: true
      },
      {
        text: 'Представитель другого вуза',
        value: 'anotherUniversity',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Обучающийся',
        value: 'student',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Представитель бизнеса',
        value: 'businessman',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Госслужащий',
        value: 'civilServant',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Другое (указать)',
        value: 'other',
        ariaSelected: false,
        isActive: false
      }
    ]

  .register
    .container
      h1.register__headine Регистрация на&nbsp;VII Международный Невский&nbsp;Форум
      form.register__form
        fieldset.register__fieldset
          legend.register__title Данные для регистрации

          +custom-input({
            inputLabel: 'Фамилия',
            inputId: 'lastname',
            inputName: 'lastname',
            isRequired: true
          })(class="register__input register__input--uppercase")

          +custom-input({
            inputLabel: 'Имя',
            inputId: 'name',
            inputName: 'name',
            isRequired: true
          })(class="register__input register__input--uppercase")

          +custom-input({
            inputLabel: 'Отчество',
            inputId: 'surname',
            inputName: 'surname',
            isRequired: true
          })(class="register__input register__input--uppercase")

          +custom-select({
            label: 'Представьтесь',
            optionsList: representativeList
          })(class="custom-select" data-select='')

          +custom-input({
            inputId: 'yourOwnVersion',
            inputName: 'yourOwnVersion',
            inputPlaceholder: 'Представьтесь',
            isRequired: true
          })(class="register__input")

          +custom-input({
            inputLabel: 'Место работы/учебы',
            inputId: 'workplace',
            inputName: 'workplace',
            isRequired: true
          })(class="register__input")

          +custom-input({
            inputLabel: 'Должность',
            inputId: 'jobTitle',
            inputName: 'jobTitle',
            isRequired: true
          })(class="register__input")

          +custom-select({
            label: 'Регион',
            optionsList: '../../json/region.pug'
          })(class="custom-select" data-select='')

          +custom-input({
            inputLabel: 'Ваш e-mail',
            inputId: 'email',
            inputName: 'email',
            isRequired: true
          })(class="register__input")

          +custom-input({
            inputLabel: 'Контактный телефон',
            inputId: 'phone',
            inputName: 'phone',
            isRequired: true
          })(class="register__input")

      fieldset
        legend Выберите дату участия

        label 21 июня (Международная конференция)
        input(type="checkbox")

        label 22 июня (Секции факультетов РАНХиГС)
        input(type="checkbox")

        label 23 июня (Основной день Форума)
        input(type="checkbox")

      fieldset
        legend Укажите мероприятия, в которых Вы будете участвовать

        h2 21 июня
        label Международная конференция, посвященная вопросам интернационализации вузов
        input(type="checkbox")

        h2 22 июня
        label Секция 1 - Экономическое сотрудничество и торговая кооперация: проблемы и новые вызовы в условиях глобальной финансовой турбулентности
        input(type="checkbox")

        label Секция 2 - Стратегическая сессия для филиальной сети РАНХиГС
        input(type="checkbox")

        label Секция 3 - Стратегические приоритеты обеспечения экономической и национальной безопасности России в современных условиях
        input(type="checkbox")

        label Секция 4 - Цифровая трансформация в муниципальном управлении
        input(type="checkbox")

        label Секция 5 - Региональный и международный опыт формирования ЗОЖ в различных группах населения
        input(type="checkbox")

        label Секция 6 - Государственность в условиях формирования многополярного мира
        input(type="checkbox")

        label Секция 7 - Новые приоритеты в развитии международных экономических связей России
        input(type="checkbox")

        label Секция 8 - Роль права в формировании многополярности современного мира
        input(type="checkbox")

        label Секция 9 - Социальные смыслы и идентичности: ценности современного человека
        input(type="checkbox")

        label Секция 10 - Конвергенция как тренд в медиа
        input(type="checkbox")

        label Секция 11 - Интерпретация истории как стратегия управления общественными отношениями
        input(type="checkbox")

        label Секция 12 - Креативные индустрии как драйвер территориального развития в парадигме неоиндустриального общества
        input(type="checkbox")

        h2 23 июня
        h3 Дневная сессия
        p Можно выбрать только одну из секций
        label Секция 1 - Цифровизация кадрового обеспечения государственной службы
        input(type="radio")

        label Секция 2 - Таможня и внешняя торговля: ломаем преграды
        input(type="radio")

        label Секция 3 - Повестка социального неравенства в современном мире глазами молодых
        input(type="radio")

        label Секция 4 - Молодая Арктика
        input(type="radio")

        h3 Вечерняя сессия
        p Можно выбрать только одну из секций

        label Секция 5 - Развитие социальной сферы, «Главное-человек»
        input(type="radio")

        label Секция 6 - Бизнес-секция: научные и индустриальные партнеры
        input(type="radio")

        label Секция 7 - Эффективное управление мегаполисом для снижения негативного воздействия на окружающую среду и здоровье человека
        input(type="radio")

        label Секция 8 - Университетский менеджмент в России: вызовы и пути решения
        input(type="radio")

        fieldset
          legend Паспортные данные
          h2 Пропускной режим в Президентскую библиотеку требует предъявления оригинала документа, удостоверяющего личность (паспорт гражданина РФ или гражданина иностранного государства). Просим заполнить следующую информацию

          label Серия паспорта
          input(type="number")

          label Номер  паспорта
          input(type="number")

          label Дата рождения
          input(type="text")

          label Место рождения (как указано в паспорте)
          input(type="text")

          label Страна проживания
          input(type="text")

          label Адрес регистрации
          input(type="text")


        fieldset
          legend Согласие на обработку персональных данных
          label
          | Я подтверждаю свое согласие на обработку моих указанных в&nbsp;
          a(href="#") анкете персональных данных&nbsp;
          | соответствии со ст. 9 Федерального закона «О персональных данных» от 27.07.2006 г. №152-ФЗ
          input(type="checkbox")
