.register {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0;

  @media screen and (max-width: 374px) {
    padding: 40px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__headine {
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 52px;
    line-height: 1.2;
    text-align: center;
    color: $color-light-sea-green;

    @media screen and (max-width: 767px) {
      font-size: 34px;
    }

    @media screen and (max-width: 374px) {
      margin-bottom: 18px;
      font-size: 28px;
    }
  }

  &__fieldset {
    margin: 0 0 55px 0;
    padding: 0;
    border: 0;

    &:last-of-type {
      margin-bottom: 25px;
    }

    &.is-hidden {
      display: none;
    }

    @media screen and (max-width: 424px) {
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 25px;
      }
    }
  }

  &__title {
    margin-bottom: 18px;

    font-size: 24px;
    line-height: 1.2;
    color: $color-light-sea-green;

    &.is-hidden {
      display: none;
    }

    @media screen and (max-width: 424px) {
      text-align: center;
    }

    @media screen and (max-width: 374px) {
      margin-bottom: 5px;
      font-size: 20px;
    }
  }

  &__title--hidden {
    display: none;
  }

  &__input.is-hidden {
    display: none;
  }

  &__input:not(:last-of-type) {
    margin-bottom: 24px;
  }

  &__input--uppercase input {
    text-transform: uppercase;
  }

  &__sections-wrapper:not(:last-of-type) {
    margin-bottom: 35px;

    @media screen and (max-width: 374px) {
      margin-bottom: 15px;
    }
  }

  &__section {
    margin-bottom: 20px;
  }

  &__sections {
    margin-bottom: 20px;
  }

  &__sections.is-hidden {
    display: none;
  }

  &__sections b {
    color: rgba(#ffffff, 0.5);
  }

  &__sections-title,
  &__sections-subtitle {
    margin: 0;
    text-align: center;
    color: $color-light-sea-green;
    font-weight: 300;

    @media screen and (max-width: 374px) {
      font-size: 18px;
    }
  }

  &__sections-title {
    position: relative;

    @media screen and (max-width: 374px) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 1px;
        transform: translateX(50%);
        background-color: $color-light-sea-green;
      }
    }
  }

  &__sections-subtitle {
    padding-left: 5px;
  }

  &__text-alert {
    margin: 0 0 20px 0;
    color: $color-tomato;
    font-style: italic;

    @media screen and (max-width: 424px) {
      text-align: center;
    }
  }

  &__error-title-wrap {
    position: relative;
    margin: 0;
    color: $color-tomato;
  }

  &__error-text {
    position: absolute;
    top: -15px;
    left: 0;
  }
}
