.register {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0;

  &__headine {
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 52px;
    line-height: 1.2;
    text-align: center;
    color: $color-light-sea-green;
  }

  &__fieldset {
    margin-bottom: 55px;
    padding: 0;
    border: 0;
  }

  &__title {
    margin-bottom: 18px;

    font-size: 24px;
    line-height: 1.2;
    color: $color-light-sea-green;
  }

  &__title--hidden {
    display: none;
  }

  &__input:not(:last-of-type) {
    margin-bottom: 24px;
  }

  &__sections-wrapper {
    margin-bottom: 35px;
  }

  &__section {
    margin-bottom: 20px;
  }

  &__sections b {
    color: rgba(#ffffff, 0.5);
  }

  &__sections-title,
  &__sections-subtitle {
    margin: 0;
    text-align: center;
    color: rgba($color-light-sea-green, 0.6);
    font-weight: 400;
  }

  &__sections-subtitle {
    padding-left: 5px;
  }
}
