-
  consttext = [
    {
      text: 'Москва и Московская область',
      value: 'Moscow'
    },
    {
      text: 'Санкт-Петербург и область',
      value: 'Saint-Petersburg'
    },
    {
      text: 'Республика Адыгея',
      value: 'Adygeya'
    },
    {
      text: 'Алтайский край',
      value: 'Altai'
    },
    {
      text: 'Амурская область',
      value: 'Amur'
    },
    {
      text: 'Архангельская область',
      value: 'Arkhangelsk'
    },
    {
      text: 'Республика Башкортостан',
      value: 'Bashkortastan'
    },
    {
      text: 'Белгородская область',
      value: 'Belgorod'
    },
    {
      text: 'Брянская область',
      value: 'Bryansk'
    },
    {
      text: 'Республика Бурятия',
      value: 'Buryatia'
    },
    {
      text: 'Владимирская область',
      value: 'Vladimir'
    },
    {
      text: 'Волгоградская область',
      value: 'Volgograd'
    },
    {
      text: 'Вологодская область',
      value: 'Vologda'
    },
    {
      text: 'Воронежская область',
      value: 'Voronezh'
    },
    {
      text: 'Республика Дагестан',
      value: 'Daghestan'
    },
    {
      text: 'Еврейская область',
      value: 'Jewish'
    },
    {
      text: 'Ивановская область',
      value: 'Ivanovo'
    },
    {
      text: 'Иркутская область',
      value: 'Irkutsk'
    },
    {
      text: 'Кабардино-Балкарская Республика',
      value: 'Kabardian-Balkar'
    },
    {
      text: 'Калининградская область',
      value: 'Kaliningrad'
    },
    {
      text: 'Республика Калмыкия',
      value: 'Kalmykia'
    },
    {
      text: 'Калужская область',
      value: 'Kaluga'
    },
    {
      text: 'Камчатская область',
      value: 'Kamchatka'
    },
    {
      text: 'Республика Карелия',
      value: 'Karelia'
    },
    {
      text: 'Кемеровская область',
      value: 'Kemerovo'
    },
    {
      text: 'Кировская область',
      value: 'Kirov'
    },
    {
      text: 'Республика Коми',
      value: 'Komi'
    },
    {
      text: 'Костромская область',
      value: 'Kostroma'
    },
    {
      text: 'Краснодарский край',
      value: 'Krasnodar'
    },
    {
      text: 'Красноярский край',
      value: 'Krasnoyarsk'
    },
    {
      text: 'Курганская область',
      value: 'Kurgan'
    },
    {
      text: 'Курская область',
      value: 'Kursk'
    },
    {
      text: 'Липецкая область',
      value: 'Lipetsk'
    },
    {
      text: 'Магаданская область',
      value: 'Magadan'
    },
    {
      text: 'Республика Марий Эл',
      value: 'Mariy_El'
    },
    {
      text: 'Республика Мордовия',
      value: 'Mordovia'
    },
    {
      text: 'Мурманская область',
      value: 'Murmansk'
    },
    {
      text: 'Нижегородская область',
      value: ''
    },
    {
      text: 'Новгородская область',
      value: 'Nizhny-novgorod'
    },
    {
      text: 'Новосибирская область',
      value: 'Novosibirsk'
    },
    {
      text: 'Омская область',
      value: 'Omsk'
    },
    {
      text: 'Оренбургская область',
      value: 'Orenburg'
    },
    {
      text: 'Орловская область',
      value: 'Oryol'
    },
    {
      text: 'Пензенская область',
      value: 'Penza'
    },
    {
      text: 'Пермская область',
      value: 'Perm'
    },
    {
      text: 'Приморский край',
      value: 'Primorsky'
    },
    {
      text: 'Псковская область',
      value: 'Pskov'
    },
    {
      text: 'Ростовская область',
      value: 'Rostov'
    },
    {
      text: 'Рязанская область',
      value: 'Ryazan'
    },
    {
      text: 'Самарская область',
      value: 'Samara'
    },
    {
      text: 'Саратовская область',
      value: 'Saratov'
    },
    {
      text: 'Республика Саха (Якутия)',
      value: 'Yakutia'
    },
    {
      text: 'Сахалинская область',
      value: 'Sakhalin'
    },
    {
      text: 'Свердловская область',
      value: 'Sverdlovsk'
    },
    {
      text: 'Республика Северная Осетия - Алания',
      value: 'Ossetia -Alania'
    },
    {
      text: 'Смоленская область',
      value: 'Smolensk'
    },
    {
      text: 'Ставропольский край',
      value: 'Stavropol'
    },
    {
      text: 'Тамбовская область',
      value: 'Tambov'
    },
    {
      text: 'Республика Татарстан',
      value: 'Tatarstan'
    },
    {
      text: 'Тверская область',
      value: 'Tver'
    },
    {
      text: 'Томская область',
      value: 'Tomsk'
    },
    {
      text: 'Республика Тыва',
      value: 'Tyva'
    },
    {
      text: 'Тульская область',
      value: 'Tula '
    },
    {
      text: 'Тюменская область',
      value: 'Tyumen'

    },
    {
      text: 'Удмуртская Республика',
      value: 'Udmurt'

    },
    {
      text: 'Ульяновская область',
      value: 'Ulyanovsk'

    },
    {
      text: 'Хабаровский край',
      value: 'Khabarovsk'

    },
    {
      text: 'Республика Хакасия',
      value: 'Khakassia'

    },
    {
      text: 'Ханты-Мансийский АО',
      value: 'Khanty-Mansi'

    },
    {
      text: 'Челябинская область',
      value: 'Chelyabinsk'

    },
    {
      text: 'Чеченская Республика',
      value: 'Chechen'

    },
    {
      text: 'Республика Ингушетия',
      value: 'Ingushetia'

    },
    {
      text: 'Читинская область',
      value: 'Chita'

    },
    {
      text: 'Чувашская Республика',
      value: 'Chuvash'

    },
    {
      text: 'Чукотский АО',
      value: 'Chukotka'

    },
    {
      text: 'Ямало-Ненецкий АО',
      value: 'Yamalo-Nenets'

    },
    {
      text: 'Ярославская область',
      value: 'Yaroslavl'
    }
  ]
